<?xml version="1.0"?>
<launch>

  <arg name="use_sim_time" default="true"/>
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

    <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints."/>

  <node name="start_coppeliasim" pkg="coppeliasim_run" type="start_coppeliasim" args=" -s $(find ur5_coppeliasim_roscontrol)/scene/ur5_urdf.ttt"  output="screen"/>


  <!-- load robot description to param server -->
  <include file="$(find ur_description)/launch/ur5_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>




</launch>
